* {
    border: 1px solid black;
    align-items: center;
}

.number{
    padding: 5px;
    margin: 5px;
}
.operator{
    padding: 5px;
    margin: 5px;
}
#numbers{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#operators{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#frame{
    display: flex;
    flex-direction: column;
    max-width: 220px;
    margin: auto;}

#buttons{
    display: flex;
}
#screen{width: 100%;
height: 50px;
}